{
  "background": "{{{base00-hex}}}",
  "border": "{{{base03-hex}}}",
  "foreground": "{{{base05-hex}}}",
  "name": "{{{scheme-name}}}",
  "slug": "{{{scheme-slug}}}",
  "author": "{{{scheme-author}}}",
  "variant": "{{{scheme-variant}}}"
}
