; tinted-aviutl2 (https://github.com/sevenc-nanashi/tinted-aviutl2)
; by Nanashi.
; {{scheme-name}} scheme by {{scheme-author}}

; -- tinted-aviutl2-scheme-slug: {{scheme-slug}};
; -- tinted-aviutl2-base-template: rainbow;

[Color]
; デフォルトの背景色
Background={{base00-hex}}
; ウィンドウの枠線色
WindowBorder={{base03-hex}}
; ウィンドウ間の背景色
WindowSeparator={{base00-hex}}
; フッターの背景色
Footer={{base0D-hex}}@50%
; フッターの進捗色
FooterProgress={{base08-hex}}@50%,{{base08-hex}}@60%
Grouping={{base01-hex}}@50%
GroupingHover={{base01-hex}}@70%
GroupingSelect={{base01-hex}}
; タイトルヘッダーの背景色
TitleHeader={{base02-hex}}
BorderSelect={{base07-hex}}
Border={{base04-hex}}
BorderFocus={{base0D-hex}}
; テキストの色
Text={{base05-hex}}
; Text=ffffff
; テキストの色(無効時)
TextDisable={{base03-hex}}
; テキスト範囲選択色
TextSelect={{base0D-hex}}
; ボタンの背景色
ButtonBody={{base02-hex}}@50%
; ボタンの背景色(マウスが乗った時)
ButtonBodyHover={{base02-hex}}
; ボタンの背景色(マウスを押している時)
ButtonBodyPress={{base04-hex}}
; ボタンの背景色(無効時)
ButtonBodyDisable={{base00-hex}}
; ボタンの背景色(選択時)
ButtonBodySelect={{base0D-hex}}@50%
SliderCursor={{base09-hex}}
TrackBarRange={{base01-hex}}80
ZoomGauge={{base0D-hex}}
ZoomGaugeHover={{base0C-hex}}
ZoomGaugeOff={{base03-hex}}
ZoomGaugeOffHover={{base02-hex}}
; フレーム選択範囲の色
FrameRangeSelect={{base0D-hex}}
; フレーム選択範囲外の色
FrameRangeOutside={{base01-hex}}
FrameCursor={{base08-hex}}e0
FrameCursorWide={{base08-hex}}80
PlayerCursor={{base0A-hex}}e0
GuideLine={{base03-hex}}c0
; レイヤーの背景色
Layer={{base01-hex}}@20%
; レイヤーの背景色(ヘッダー部分)
LayerHeader={{base01-hex}}
; レイヤーの背景色(マウスが乗った時)
LayerHover={{base02-hex}}@70%
; レイヤーの背景色(非表示)
LayerDisable={{base00-hex}}
; レイヤーの背景色(選択時)
LayerSelect={{base02-hex}}@50%
; レイヤー範囲の背景色
LayerRange={{base03-hex}}38
; レイヤー範囲の枠線色
LayerRangeFrame={{base03-hex}}c8
; 映像メディアオブジェクトの色
ObjectVideo={{base0D-hex}}@50%cc,{{base0D-hex}}@45%aa
; 映像メディアオブジェクトの色(選択時)
ObjectVideoSelect={{base0D-hex}}@80%
; 音声メディアオブジェクトの色
ObjectAudio={{base08-hex}}@50%cc,{{base08-hex}}@45%aa
; 音声メディアオブジェクトの色(選択時)
ObjectAudioSelect={{base08-hex}}@80%
; 制御オブジェクトの色
ObjectControl={{base0E-hex}}@50%cc,{{base0E-hex}}@45%aa
; 制御オブジェクトの色(選択時)
ObjectControlSelect={{base0E-hex}}@80%
; 映像フィルタオブジェクトの色
ObjectVideoFilter={{base0B-hex}}@50%cc,{{base0B-hex}}@45%aa
; 映像フィルタオブジェクトの色(選択時)
ObjectVideoFilterSelect={{base0B-hex}}@80%
; 音声フィルタオブジェクトの色
ObjectAudioFilter={{base0A-hex}}@50%cc,{{base0A-hex}}@45%aa
; 音声フィルタオブジェクトの色(選択時)
ObjectAudioFilterSelect={{base0A-hex}}@80%
; 映像フィルタ効果オブジェクトの色
ObjectVideoEffect={{base0C-hex}}@50%cc,{{base0C-hex}}@45%aa
; 映像フィルタ効果オブジェクトの色(選択時)
ObjectVideoEffectSelect={{base0C-hex}}@80%
; 音声フィルタ効果オブジェクトの色
ObjectAudioEffect={{base09-hex}}@50%cc,{{base09-hex}}@45%aa
; 音声フィルタ効果オブジェクトの色(選択時)
ObjectAudioEffectSelect={{base09-hex}}@80%
; オブジェクトの枠色(マウスが乗った時)
ObjectHover={{base07-hex}}a0
; オブジェクトの枠色(フォーカス時)
ObjectFocus={{base06-hex}}
; オブジェクト中間点の色
ObjectSection={{base04-hex}}
; オブジェクト音声波形の色
ObjectWaveform={{base05-hex}}@50%40
; クリッピングオブジェクトの色(下部)
ClippingObject={{base0C-hex}}
; クリッピングオブジェクトの視覚化時の色
ClippingObjectMask={{base0C-hex}}40
; グリッド線色
GridLine={{base03-hex}}c0
; アンカー枠色
Anchor={{base06-hex}}
; アンカー線色
AnchorLine={{base07-hex}}80
; アンカー枠色(開始)
AnchorIn={{base0B-hex}}
; アンカー枠色(終了)
AnchorOut={{base08-hex}}
; アンカー枠色(マウスが乗った時)
AnchorHover={{base07-hex}}80
; アンカー枠色(選択時)
AnchorSelect={{base06-hex}}
; アンカー枠の縁色
AnchorEdge={{base00-hex}}80
; 中心点の色(グループ)
CenterGroup={{base0B-hex}}
HandleX={{base08-hex}}
HandleY={{base0B-hex}}
HandleZ={{base0D-hex}}
HandleXHover={{base08-hex}}
HandleYHover={{base0B-hex}}
HandleZHover={{base0D-hex}}
; 表示領域外の色
OutsideDisplay={{base01-hex}}
; 音声レベルメーターの色
LevelMeterRed={{base08-hex}},{{base08-hex}}80
LevelMeterYellow={{base0A-hex}},{{base0A-hex}}80
LevelMeterGreen={{base0B-hex}},{{base0B-hex}}80
; ログの色
LogVerbose={{base04-hex}}
LogInfo={{base05-hex}}
LogScript={{base0B-hex}}
LogPlugin={{base0C-hex}}
LogWarn={{base0A-hex}}
LogError={{base08-hex}}

; vim: set ft=ini :
